---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostWrapper from "../components/BlogPostWrapper.svelte";

interface MarkdownFrontmatter {
  publishDate: number;
}

const posts = Astro.fetchContent<MarkdownFrontmatter>("./blog/**/*.md")
  .filter(({ publishDate }) => !!publishDate)
  .sort(
    (a, b) =>
      new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
  );
---

<BaseLayout title="Shruti Mukhtyar" description="Personal Blog" path="/blog">
  <div class="container">
    <h1>Blog</h1>
    <div class="wrapper">
      <BlogPostWrapper {posts} />
    </div>
  </div>
</BaseLayout>

<style>
  .wrapper {
    margin: var(--size-6) 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
  }

  ul > li {
    max-inline-size: var(--size-content-3);
    padding-top: var(--size-4);
  }
</style>
