---
// Component Imports
import Button from "../components/Button.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectWrapper from "../components/ProjectWrapper.svelte";
import BlogPostWrapper from "../components/BlogPostWrapper.svelte";
import Card from "../components/Card.svelte";
import Socials from "../components/Socials.svelte";

import { routes } from "../data/routes";
const socials = routes.filter((d) => d.icon);

// Data Fetching: List all Markdown posts for project in the repo.
const projects = Astro.fetchContent("./project/**/*.md")
  .filter(({ endDate }) => !!endDate)
  .sort(
    (a, b) => new Date(b.endDate).valueOf() - new Date(a.endDate).valueOf()
  );
const latestProjects = projects.slice(0, 3);

// Data Fetching: List all Markdown posts for blog in the repo.
const posts = Astro.fetchContent("./blog/**/*.md")
  .filter(({ publishDate }) => !!publishDate)
  .sort(
    (a, b) =>
      new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
  );
const latestPosts = posts.slice(-4);
---

<BaseLayout title="Shruti Mukhtyar" description="Personal Website" path="/">
  <section class="intro">
    <div class="container">
      <h1>
        Geospatial and web development professional with a strong interest in using AI/ML 
        to work on climate data projects & help build innovative solutions 
        to address climate challenges.
      </h1>
      <p>Experience working across science, policy and tech teams</p>
      <Socials data={socials} />
    </div>
  </section>
  <section class="recent-posts">
    <div class="container">
      <div class="split-content">
        <div class="split-content-left">
          <h2>Blog</h2>
        </div>
        <div class="split-content-right">
          <BlogPostWrapper posts={latestPosts} />
        </div>
      </div>
      <Button href="/blog">View All Posts</Button>
    </div>
  </section>
  <section class="projects">
    <div class="container">
      <h2>Selected Projects</h2>
      <ProjectWrapper projects={latestProjects} />
      <Button href="/projects">View More Projects</Button>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Publications</h2>
      <ul>
        <li>
          Thomas, N., Mukhtyar, S., Galey, B., Kelly, M., & University of
          California, Berkeley. Geospatial Innovation Facility. (2018). <a
            href="https://www.energy.ca.gov/sites/default/files/2019-11/Projections_CCCA4-CEC-2018-015_ADA.pdf"
            target="_blank"
            >Cal-Adapt, Linking Climate Science with Energy Sector Resilience
            and Practitioner Need: A Report for California's Fourth Climate
            Change Assessment</a
          >. California Energy Commission.
        </li>
        <li>
          Kelly, M., Easterday, K., Koo, M., Thorne, J. H., Mukythar, S., &
          Galey, B. (2017). <a
            href="https://www.ingentaconnect.com/content/asprs/pers/2017/00000083/00000011/art00016"
            target="_blank"
            >Geospatial informatics key to recovering and sharing historical
            ecological data for modern use</a
          >. Photogrammetric Engineering & Remote Sensing, 83(11), 779-786.
        </li>
      </ul>
    </div>
  </section>
</BaseLayout>

<style>
  .overlay {
    background: linear-gradient(
      0deg,
      rgba(248, 249, 250, 1),
      rgba(248, 249, 250, 0.9) 5%,
      rgba(248, 249, 250, 0.8) 10%,
      rgba(248, 249, 250, 0.7) 15%,
      rgba(248, 249, 250, 0.6) 25%,
      rgba(248, 249, 250, 0.6) 50%,
      rgba(248, 249, 250, 0.7) 75%,
      rgba(248, 249, 250, 0.8) 85%,
      rgba(248, 249, 250, 0.9) 95%,
      rgba(248, 249, 250, 1)
    );
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .intro h1 {
    max-inline-size: var(--size-header-3);
    padding: 0;
    background: linear-gradient(
      320deg,
      hsl(288deg 54% 40%) 0%,
      hsl(279deg 52% 43%) 30%,
      hsl(270deg 49% 45%) 40%,
      hsl(260deg 47% 48%) 46%,
      hsl(249deg 47% 51%) 51%,
      hsl(236deg 52% 52%) 56%,
      hsl(232deg 55% 50%) 60%,
      hsl(236deg 52% 51%) 64%,
      hsl(241deg 49% 51%) 69%,
      hsl(246deg 48% 50%) 75%,
      hsl(250deg 49% 49%) 83%,
      hsl(255deg 51% 47%) 100%
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .intro p {
    padding: var(--size-6) 0 var(--size-2);
    text-transform: uppercase;
    font-size: var(--font-size-4);
    color: var(--violet-8);
  }

  .split-content {
    margin: var(--size-6) 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .split-content-left h2 {
    position: sticky;
    top: var(--size-2);
    margin-bottom: var(--size-4);
  }

  ul > li {
    max-inline-size: var(--size-content-3);
    padding-top: var(--size-4);
  }

  @media only screen and (max-width: 768px) {
    .intro h1 {
      padding: var(--size-1);
      margin: var(--size-2) 0;
      font-size: var(--font-size-4);
      color: var(--gray-7);
    }

    .intro p {
      padding: var(--size-2) var(--size-1);
      font-size: var(--font-size-2);
    }

    .split-content {
      grid-template-columns: 1fr;
    }
  }
</style>
