---
import BaseLayout from "./BaseLayout.astro";
import Button from "../components/Button.svelte";
import { dateOptions } from "../data/constants";

const { content } = Astro.props;
---

<BaseLayout
  title={content.title}
  description={content.description}
  path={content.url}
>
  <section>
    <div class="container">
      <h1>{content.title}</h1>
      <div class="leadIn">
        <p>
          {new Date(content.publishDate).toLocaleDateString(
            "en-US",
            dateOptions
          )}
        </p>
      </div>
      <div class="content">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--size-4) auto;
  }

  :global(.content p) {
    margin-top: var(--size-4);
  }

  ul > li {
    max-inline-size: var(--size-content-3);
    padding-top: var(--size-4);
  }
</style>
